Objective 2: Write a program to scrap reviews from flipkart.com for a product category of smart TV.
Collect the following from the web page: You must collect the information from min 20 pages.
a) Product name
b) Rating
c) Flipkart price
d) Actual price
e) Discount offered

In [1]:
# Lets import the library

import requests
from requests import get
from bs4 import BeautifulSoup

In [2]:
# Step1:create a webpage link
url="https://www.flipkart.com/search?q=smart+tv&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_5_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_5_na_na_na&as-pos=3&as-type=RECENT&suggestionId=smart+tv&requestId=30979fbd-1ccf-4bf9-958a-b00c258d5842&as-searchtext=smart&page=1"
responce=get(url)

In [3]:
bs4_obj = BeautifulSoup(responce.text, "html.parser")

In [4]:
master_container = bs4_obj.find_all('div', class_ = "_2kHMtA")

len(master_container)

24

#We will practice first to extract -name, price, rating,actual price and discount price of smart TVs from flipkart(first 20 pages)

In [5]:
# Lets select the first container

first_container = master_container[0]

In [6]:
## name of the Tv 

first_container.find("div" ,class_='_4rR01T').text

'Mi 4A Horizon Edition 80 cm (32 inch) HD Ready LED Smart Android TV'

In [7]:
#rating of TV

first_container.find("div" ,class_='_3LWZlK').text

'4.3'

In [8]:
##price of the tv

first_container.find('div', class_ = "_30jeq3 _1_WHN1").text

'₹14,999'

In [9]:
###Flipkart actual price
first_container.find('div',class_="_3I9_wc _27UcVY").text

'₹15,999'

In [10]:
##Discount offered
first_container.find('div',class_="_3Ay6Sb").text

'6% off'

In [11]:
# Put everything into a single code and extract the required information
# from all 24 containers of page 1

# STEP 1: Create empty list of which every information you want extract


name_tv = []
rating_tv=[]
price_tv=[]
actual_tv=[]
discount_tv=[]
# STEP 2: Use a for loop to extract the information


for x in master_container:
     # Extract the name of the smart TV
    
    name = x.find('div', class_ = '_4rR01T').text
    name_tv.append(name)
    
    #Extracting the rating of the tv
    rating=x.find("div" ,class_='_3LWZlK').text
    rating_tv.append(rating)
    

    # Extracting the price of the TV
    
    price=x.find('div', class_ = "_30jeq3 _1_WHN1").text
    price_tv.append(price)
    
    #Extracting the Flipkart price
    
    actual=x.find('div',class_="_3I9_wc _27UcVY")
    actual_tv.append(actual)
    
    # Extrating the discount of the TV
    
    discount= x.find('div',class_="_3Ay6Sb")
    discount_tv.append(discount)

In [12]:
# Please check the lenght of all the list must be same before you convert
# them into a data frame

print(len(name_tv))
print(len(price_tv))
print(len(rating_tv))

24
24
24

In [13]:
# Converting the list into the data frame 

import pandas as pd

df = pd.DataFrame({"TV Name" : name_tv,
                  "Rating" : rating_tv,
                  "Price" : price_tv,
                  "Actual_price" : actual_tv,
                  "Discount_price" : discount_tv})

df.head()

,TV Name,Rating,Price,Actual_price,Discount_price
0,Mi 4A Horizon Edition 80 cm (32 inch) HD Ready...,4.3,"₹14,999","[₹, , 15,999]",[[6% off]]
1,Mi 4A PRO 80 cm (32 inch) HD Ready LED Smart A...,4.4,"₹14,499","[₹, , 14,999]",[[3% off]]
2,Samsung 80 cm (32 inch) HD Ready LED Smart TV ...,4.4,"₹16,290","[₹, , 19,900]",[[18% off]]
3,Mi 4X 125.7 cm (50 inch) Ultra HD (4K) LED Sma...,4.4,"₹33,499","[₹, , 34,999]",[[4% off]]
4,Mi 4A Pro 108 cm (43 inch) Full HD LED Smart A...,4.4,"₹23,999","[₹, , 25,999]",[[7% off]]

In [14]:
# Lets create the list of the pages you want to extract

page_number = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [15]:
# Lets extact the information from first 10 pages

# Create the empty list for information you want

name_tv = []
rating_tv=[]
price_tv=[]
actual_tv=[]
discount_tv=[]

for x in page_number:
    
    # Create the dynamic URL
    url="https://www.flipkart.com/search?q=smart+tv&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_5_na_na_na&otracker1=AS_Query"
   
 # Create the response object
    
    response = get(url)
    
    # Create the beautiful Soup object
    
    bs4_obj = BeautifulSoup(response.text, "html.parser")
    
    # Create the master container
    
    master_container = bs4_obj.find_all('div', class_ = "_2kHMtA")

    # Lets Iterate variable Y in the master container
    
    for y in master_container: 
        
        # Extract the name of the smart TV
    
        name = y.find('div', class_ = '_4rR01T').text
        name_tv.append(name)
        
        # Extrating the rating of the TV
    
        rating = y.find("div" ,class_='_3LWZlK').text
        rating_tv.append(rating)
    
        # Extracting the price of the TV
    
        price= y.find('div', class_ = "_30jeq3 _1_WHN1").text
        price_tv.append(price)
        
        #Extracting the Flipkart price
    
        actual=y.find('div',class_="_3I9_wc _27UcVY")
        actual_tv.append(actual)
    
        # Extrating the discount of the TV
    
        discount= y.find('div',class_="_3Ay6Sb")
        discount_tv.append(discount)

In [16]:
# Please check the lenght of all the list must be same before you convert
# them into a data frame

print(len(name_tv))
print(len(rating_tv))
print(len(price_tv))
print(len(actual_tv))
print(len(discount_tv))

480
480
480
480
480

In [17]:
# Converting the list into the data frame 

import pandas as pd

df1 = pd.DataFrame({"TV Name" : name_tv,
                  "Rating" : rating_tv,
                  "Price" : price_tv,
                  "Actual_price" : actual_tv,
                  "Discount_price" : discount_tv})

df1.head(20)

,TV Name,Rating,Price,Actual_price,Discount_price
0,Mi 4A Horizon Edition 80 cm (32 inch) HD Ready...,4.3,"₹14,999","[₹, , 15,999]",[[6% off]]
1,Samsung 80 cm (32 inch) HD Ready LED Smart TV ...,4.4,"₹16,290","[₹, , 19,900]",[[18% off]]
2,Mi 4A PRO 80 cm (32 inch) HD Ready LED Smart A...,4.4,"₹14,499","[₹, , 14,999]",[[3% off]]
3,Mi 4X 125.7 cm (50 inch) Ultra HD (4K) LED Sma...,4.4,"₹33,499","[₹, , 34,999]",[[4% off]]
4,Mi 4A Pro 108 cm (43 inch) Full HD LED Smart A...,4.4,"₹23,999","[₹, , 25,999]",[[7% off]]
5,Mi 4X 108 cm (43 inch) Ultra HD (4K) LED Smart...,4.4,"₹27,499","[₹, , 28,999]",[[5% off]]
6,Mi 4A 100 cm (40 inch) Full HD LED Smart Andro...,4.4,"₹19,999",None,None
7,Realme 80 cm (32 inch) HD Ready LED Smart Andr...,4.3,"₹13,999","[₹, , 14,999]",[[6% off]]
8,LG 80 cm (32 inch) HD Ready LED Smart TV 2020 ...,4.3,"₹16,999","[₹, , 21,990]",[[22% off]]
9,Samsung 80 cm (32 inch) HD Ready LED Smart TV ...,4.5,"₹16,799","[₹, , 20,900]",[[19% off]]
10,Realme 108 cm (43 inch) Full HD LED Smart Andr...,4.3,"₹22,999","[₹, , 25,999]",[[11% off]]
11,OnePlus Y Series 80 cm (32 inch) HD Ready LED ...,4.3,"₹15,499","[₹, , 19,999]",[[22% off]]
12,OnePlus Y Series 108 cm (43 inch) Full HD LED ...,4.3,"₹24,999","[₹, , 29,999]",[[16% off]]
13,LG 108 cm (43 inch) Ultra HD (4K) LED Smart TV,4.4,"₹33,999","[₹, , 52,990]",[[35% off]]
14,Motorola ZX2 80 cm (32 inch) HD Ready LED Smar...,4.4,"₹16,999","[₹, , 21,999]",[[22% off]]
15,iFFALCON by TCL 126 cm (50 inch) Ultra HD (4K)...,4.3,"₹29,999","[₹, , 58,990]",[[49% off]]
16,Motorola ZX Pro 127 cm (50 inch) Ultra HD (4K)...,4.4,"₹33,999","[₹, , 54,999]",[[38% off]]
17,iFFALCON by TCL AI Powered K31 108 cm (43 inch...,4.4,"₹23,999","[₹, , 47,990]",[[49% off]]
18,Motorola ZX2 100.3 cm (40 inch) Full HD LED Sm...,4.4,"₹24,999","[₹, , 26,999]",[[7% off]]
19,Vu Premium 108 cm (43 inch) Full HD LED Smart ...,4.3,"₹24,999","[₹, , 40,000]",[[37% off]]

In [18]:
df1.shape

(480, 5)

In [19]:
###END###